RPC_URL=http://127.0.0.1:1234/rpc/v1
PRIVATE_KEY_TEST=

POREP_MARKET_REPO=https://github.com/fidlabs/porep-market.git
POREP_MARKET_BRANCH=fix-deploy-order

POREP_MARKET=
CLIENT_CONTRACT=
SP_REGISTRY=
VALIDATOR_FACTORY=
SLI_ORACLE=
SLI_SCORER=

MINER_ACTOR_ID=1000
